:root {
  --status-bar-height: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #f7f8fa;
}

#app {
  width: 100%;
  min-height: 100vh;
}

.dxx_wrap {
  height: 100%;
  padding-top: var(--status-bar-height);
}